asgiref==3.3.4
Django==3.2.3
Pillow
pytz==2021.1
sqlparse==0.4.1
typing-extensions==3.10.0.0
whitenoise==5.2.0
gunicorn==20.1.0
django-jazzmin
django-admin-rangefilter==0.13.0

django-shortuuidfield
django-ckeditor


